form {
    max-width: 1000px;
    margin: 2em auto;
    padding: 2em 3em;
}

fieldset {
    display: flex;
    flex-direction: column;
    /* gap: 10px */
}

form fieldset:nth-of-type(2):has(#nee-1b:checked)>fieldset:nth-of-type(n+2) {
    display: none;
}

form:nth-of-type(2), form:nth-of-type(3) {
    /* display: none; */
}